<ul class='gallery'>
  {{#each this}}

    <li class='photo-card'>
      <img src='{{webformatURL}}' data-id="{{id}}" alt='' height='160px' class='image' />

      <div class='stats'>
        <p class='stats-item'>
          <i class='material-icons md-16'>thumb_up</i>
          {{likes}}
        </p>
        <p class='stats-item'>
          <i class='material-icons md-16' aria-setsize='15px'>visibility</i>
          {{views}}
        </p>
        <p class='stats-item'>
          <i class='material-icons md-16'>comment</i>
          {{comments}}
        </p>
        <p class='stats-item'>
          <i class='material-icons md-16'>cloud_download</i>
          {{downloads}}
        </p>
      </div>
    </li>

  {{/each}}
</ul>